{% extends "base.html" %}

{% block base_frame %}
<div class="main_body_detial">
	<div class="row-fluid">
		<div class="span12">
			<h3>
				<strong>崇明慢生活网</strong>
			</h3>
			<dl>
				<dd>
					是崇明的本地化网站，以农家乐为切入点，致力于打造集生态旅游、农村电商为一体的综合类崇明门户网站。
				</dd>
				<dd>
					爱崇明、爱上慢生活!
				</dd>
				
				<dd>
					合作方式：
				</dd>
				<dd>
					不管你是农家乐商户、还是旅游景点、投资人或者是广告供应商都欢迎前来合作。
				</dd>
				<dd>
					联系人：倪旭晨
				</dd>
				<dd>
					联系电话：13761398648
				</dd>
				<dd>
					邮箱：oliver@chongming.love
				</dd>

				<dd>
					微信公众号：
				</dd>
				<dd>
					<img src="/static/images/qrcode_weixin.jpg" width="150" height="150">
				</dd>

			</dl>
		</div>
	</div>
</div>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('about').className = 'current';
};
   </script>

{% endblock %}