<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:margin-right="http://www.w3.org/1999/xhtml"
      xmlns:margin-left="http://www.w3.org/1999/xhtml">
{% load bootstrap3 %}
{% load staticfiles %}
<head>
    <meta name="keywords" content="崇明旅游,崇明慢生活,崇明住宿,崇明农家乐,崇明景点,崇明美食,崇明岛旅游攻略">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>崇明慢生活</title>



 {% block base_head %}{% endblock %}



    <!--百度统计-->
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?49198db092f8eb4f3b3d4126eb56986b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>



     {% block base_frame %}{% endblock %}








</body>
</html>