<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:margin-right="http://www.w3.org/1999/xhtml"
	  xmlns:margin-left="http://www.w3.org/1999/xhtml" xmlns:overflow-y="http://www.w3.org/1999/xhtml"
	  xmlns:overflow="http://www.w3.org/1999/xhtml">
{% load bootstrap3 %}
{% load staticfiles %}
<head>
    <meta name="keywords" content="崇明旅游,崇明慢生活,崇明住宿,崇明农家乐,崇明景点,崇明美食,崇明岛旅游攻略">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>崇明慢生活</title>

		 <meta charset="utf-8">
			 <link rel="icon" href="/static/images/favicon.ico">
		 <link rel="shortcut icon" href="/static/images/favicon.ico" />
		 <link rel="stylesheet" href="/static/css/style.css">
		 <link rel="stylesheet" href="/static/css/slider.css">
		 <script src="/static/js/jquery.js"></script>
		 <script src="/static/js/jquery-migrate-1.1.1.js"></script>
		 <script src="/static/js/superfish.js"></script>
		 <script src="/static/js/sForm.js"></script>
		 <script src="/static/js/jquery.jqtransform.js"></script>
		 <script src="/static/js/jquery.equalheights.js"></script>
		 <script src="/static/js/jquery.easing.1.3.js"></script>
		 <script src="/static/js/tms-0.4.1.js"></script>
		<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
		 <script src="/static/js/jquery.ui.totop.js"></script>

		 <!--[if lt IE 8]>
			 <div style=' clear: both; text-align:center; position: relative;'>
				 <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					 <img src="http://storage.ie6countdown.com/assets/100//static/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				 </a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="/static/js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="/static/css/ie.css">

		<![endif]-->





    <!--百度统计-->
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?49198db092f8eb4f3b3d4126eb56986b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

 {% block base_head %}{% endblock %}
</head>

<body  >

 <header>
	<div class="container_12">
		<div class="grid_12">
		<h1><a href="#"><img src="/static/images/logo.png" alt="崇明慢生活"></a> </h1>


		  <div class="clear"></div>
			</div>
<div class="menu_block">
					 <nav	class="" >
						<ul class="sf-menu">
									 <li id="home"><a href="/">首页</a></li>

									 <li id="nav_new_list"><a  href="/news_list">新闻</a></li>
									 <li id="travel_list"><a href="/travel_list">游记</a></li>
									 <li id="nongjiale_list"><a href="/nongjiale_list">农家乐</a></li>
									 <li id="about"><a href="/about">关于</a></li>
								 </ul>
							</nav>
					 <div class="clear"></div>
					 </div>
					 <div class="clear"></div>
					</div>
</header>

 <div class="base_content">

	   {% block base_frame %}{% endblock %}

 </div>




<div class="bottom_block">
	<div class="container_12">
		<div class="grid_2 prefix_2">
			<ul>
				<li><a href="#">FAQS Page</a></li>
				<li><a href="#">People Say</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<ul>
				<li><a href="#">Useful links</a></li>
				<li><a href="#">Partners</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<ul>
				<li><a href="#">Insurance</a></li>
				<li><a href="#">Family Travel</a></li>
			</ul>
		</div>
		<div class="grid_2">
			<h4>联系我们:</h4>
			TEL: 13761398648<br><a href="#">oliver@chongming.love</a>

		</div>
		<div class="clear"></div>
		</div>
	</div>
<!--==============================footer=================================-->

</div>
<footer>
	<div class="container_12">
	<div class="grid_12">
		<div class="socials">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
			<div class="copy">
		 &copy; Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
		 </div></div>
		 <div class="clear"></div>
	</div>

</footer>




</body>


</html>