
{% extends "base.html" %}
{% block base_head %}
  <script src="/static/js/jquery.page.js"></script>
<style>
*{ margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
</style>

{% endblock %}
{% block base_frame %}



<div class="main_body">
<div class="clear " ></div>
<div class="n_container">
			<ul class="news_list">




								{% for article in object_list %}

								<li class="news_list_item">
                                    <div>       <a href="/health_detial/{{article.id}}">{{ article.title }}</a> </div>
                                    <div>{{ article.summary }}</div>
                                    <div class="news_item_bottom">{{article.source}}&nbsp;&nbsp;{{article.created}}</div>


                                 </li>
                                         <div class="clear"></div>

								{% endfor %}




			</ul>

    <div class="tcdPageCode"></div>

			</div>
</div>
</div>


<script type="text/javascript" >
window.onload = function(){
  var nav = document.getElementById('health_list');

  nav.className = 'current';
};

  </script>
<script>
    $(".tcdPageCode").createPage({
        pageCount:{{ object_list.paginator.num_pages }},
        current:{{ object_list.number }},
        backFn:function(p){
            console.log(p);
            window.location.href='?page='+p;
        }
    });
</script>

{% endblock %}
