{% extends "base.html" %}

{% block base_head %}


{% endblock %}
{% block base_frame %}
<body	class="page1">
<!--==============================header=================================-->

<div class="main">
	<div class="container_12">
		<div class="grid_12">
	 <div class="slider-relative">
			<div class="slider-block">
				<div class="slider">
					<a href="#" class="prev"></a><a href="#" class="next"></a>
					<ul class="items">
						<li><a class='ads' href="http://www.sina.com.cn"  ><img src="/static/images/slide.jpg" alt=""></a>
								<div class="banner">
									<!--<div>爱崇明</div><br><-->
									<span>崇明慢生活</span>
								</div>
						</li>
						{% for ad in ads %}
									<li onclick=openUrl() ><img  src="/media/{{ad.logo}}" alt=""/></li>
						{% endfor %}

					</ul>
				</div>
			</div>
		</div>
	</div></div>
	
<!--=======content================================-->

<div class="content">
	<div class="container_12">
		<div class="grid_12">
			<h3>崇明游记</h3>
		</div>
		<div class="boxes">
			{% if youjis %}
			{% for article in youjis %}
			<div class="grid_4">
					<figure>
						<div><img onerror="this.src='/static/images/icon.jpg'" src="{{article.icon_url}}" width="100%" height="100%"></div>
				  		<figcaption>
							<h4>{{article.title}}</h4>
							<div>


							{% autoescape off %}
							{{article.content |truncatewords_html:"3" }}
					        	{% endautoescape %}



							</div>

							<a href="/travel_detial/{{article.id}}" class="btn">详情</a>
				  		</figcaption>
					</figure>
			</div>
			{% endfor %}

			{% endif %}



				<div class="clear"></div>
				</div>
<div class="grid_8">
	<h3>崇明农家乐</h3>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">推荐</a></li>
		<li><a href="#tabs-2">最新</a></li>
		<li><a href="#tabs-3">最热</a></li>
	</ul>
<div class="clear"></div>
<div class="tab_cont" id="tabs-1" >
		{% for njl in nongjiales %}
			<img onerror="this.src='/static/images/icon.jpg'" src="/media/{{njl.logo}}" width="100" height="100">
		<div class="extra_wrapper">
			<div class="text1">
				{{njl.title}} </div>
		    {% autoescape off %}
			{{njl.content |truncatewords_html:"10" }}
			{% endautoescape %}
<a href="/nongjiale_detial/{{njl.id}}" class="btn">详情</a>
<div class="clear "></div>
			</div>
		{% endfor %}
</div>
<div class="tab_cont" id="tabs-2" >
		{% for njl in nongjiales %}
			<img onerror="this.src='/static/images/icon.jpg'" src="/media/{{njl.logo}}" width="100" height="100">
		<div class="extra_wrapper">
			<div class="text1">
				{{njl.title}} </div>
		    {% autoescape off %}
			{{njl.content |truncatewords_html:"10" }}
			{% endautoescape %}
<a href="/nongjiale_detial/{{njl.id}}" class="btn">详情</a>
<div class="clear "></div>
			</div>
		{% endfor %}
	</div>
<div class="tab_cont" id="tabs-3" >
 
		{% for njl in nongjiales %}
			<img onerror="this.src='/static/images/icon.jpg'" src="/media/{{njl.logo}}" width="100" height="100">
		<div class="extra_wrapper">
			<div class="text1">
				{{njl.title}} </div>
		    {% autoescape off %}
			{{njl.content |truncatewords_html:"10" }}
			{% endautoescape %}
<a href="/nongjiale_detial/{{njl.id}}" class="btn">详情</a>
<div class="clear "></div>
			</div>
		{% endfor %}

	</div>
</div>
</div>
	<h3>崇明新闻</h3>
	<div class="grid_4">
	 <div class="newsletter_title">最新</div>
	 <div class="n_container">
			<ul class="list">
								{% for article in news %}
								<li><a href="/news_detial/{{article.id}}">{{ article.title }} </a></li>
								{% endfor %}

			</ul>
			</div>
	</div>
	<div class="clear"></div></div>
</div>



<script type="text/javascript" >
window.onload = function(){
  var nav = document.getElementById('home');

  nav.className = 'current';
};

 </script>
	<script type="text/javascript" >
function openUrl() {
    windows.location.href="http://www.baidu.com"
}

 </script>
	</div>
</body>

{% endblock %}
