{% extends "base.html" %}



{% block base_head %}
<link type="text/css" rel="stylesheet" href="/static/css/flexslider.css" />
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block base_frame %}


<!-- 代码部分begin -->
	<section id="section">
		<!-- 图片播放功能 -->
		<div class="bannerPane">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li><a href="http://nixuchen.com/" ><img src="static/images/ad-1.jpg" alt="http//nixuchen.com" /></a></li>
						<li><a href="http://sh.58.com/yanglaoyuan/22827910126498x.shtml?psid=148458452188945943627363529&entinfo=22827910126498_0&PGTID=148458452188945943627363529&ClickID=1&iuType=p_1"><img src="static/images/ad-2.jpg" alt="http//nixuchen.com" /></a></li>

					</ul>
				</div>
			</section>
		</div>
	</section>
    <script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.mmenu.min.all.js"></script>
	<script src="static/js/jquery.flexslider.js"></script>
	<script src="static/js/o-script.js"></script>
    <!-- 代码部分end -->

<div>
	<div  id="div_news">
<div >

{% if news %}
<ul>
{% for article in news %}
    <p></p>
<li><a href="/news_detial/{{article.id}}">
{{ article.title }}</a>

{{ article.newsTime }}</li>
{% endfor %}
</ul>
{% else %}
<p>No news found.</p>
{% endif %}
</div>

	</div>

	<div id="div_youji">



<div >

{% if youjis %}
<ul>
{% for article in youjis %}

<li >
    <img onerror="this.src='/static/images/icon.jpg'" src="{{article.icon_url}}" height="100" width="100" />
    <a href="/travel_detial/{{article.id}}">
{{ article.title }}</a>

</li>
{% endfor %}
</ul>
{% else %}
<p>No youji found.</p>
{% endif %}
</div>
	</div>
</div>


<script type="text/javascript">
window.onload = function() {
  document.getElementById('home').className = 'selected';
};
   </script>


{% endblock %}