{% extends "base.html" %}

{% block base_frame %}

{% if news %}
<p>

<a style="font-weight:bold;">
<font size="+2">{{ news.title }}</font></a>
    
{{ news.newsTime }}

</p>
<p>
    {% autoescape off %}
    {{news.content}}
    {% endautoescape %}
</p>
{% else %}
<p>No news found.</p>
{% endif %}
</div>

<div>
    <p>更多详情:</p>
    <img src="/static/images/qrcode_weixin.jpg" width="150" height="150">
</div>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('news_list').className = 'current';
};
   </script>
{% endblock %}