{% extends "base.html" %}

{% block base_frame %}


<div class="n_container">
			<ul class="list">
								{% for article in news %}
								<li><a href="/news_detial/{{article.id}}">{{ article.title }} </a> &nbsp;&nbsp;&nbsp;{{article.newsTime}}
                                 </li>
								{% endfor %}

			</ul>
			</div>
</div>

<script type="text/javascript" >
window.onload = function(){
  var nav = document.getElementById('nav_new_list');

  nav.className = 'current';
};

  </script>


{% endblock %}
