{% extends "base.html" %}

{% block base_head %}
  <SCRIPT type=text/javascript>
     window.document.title="{{njl.title}}";
    </SCRIPT>
<script src="/static/xiangce/js/modernizr-2.6.2.min.js"></script>




<script src="/static/js/jquery.watermark.js"></script>

<script src="/static/xiangce/js/ZoomPic.js"></script>

{% endblock %}

{% block base_frame %}

<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif,"新宋体";}
/* focus_Box */
#focus_Box{position:relative;width:710px;height:308px;margin:20px auto;}
#focus_Box ul{position:relative;width:710px;height:308px}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow:1px 1px 12px rgba(200, 200, 200, 1)}
#focus_Box li img{width:100%;background:url(/static/xiangce/images/loading.gif) no-repeat center 50%;height:100%;vertical-align:top}
#focus_Box li p{position:absolute;left:0;bottom:0px;width:100%;height:40px;line-height:40px;background:url(/static/xiangce/images/float-bg.png) repeat;text-indent:8px;color:#fff;}
#focus_Box li p span{display:inline-block;width:70%;height:40px;overflow:hidden;}
#focus_Box .prev,#focus_Box .next{display:block;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:52px;height:52px;top:131px;}
#focus_Box .prev{background:url(/static/xiangce/images/btn.png) left bottom no-repeat;left:0px}
#focus_Box .next{background:url(/static/xiangce/images/btn.png) right bottom no-repeat;right:0px}
#focus_Box .prev:hover{background-position:left top;}
#focus_Box .next:hover{background-position:right top;}
#focus_Box a.imgs-scroll-btn{display:block;position:absolute;z-index:110;top:7px;right:15px;width:51px;height:23px;overflow:hidden;background:url(/static/xiangce/images/share-btn.png) no-repeat;text-indent:-999px;}
</style>


<script type="text/javascript">
$(function(){
	new ZoomPic("focus_Box");
})
</script>



<div class="main_body_detial">
{% if  njl.img1  %}

<div id="focus_Box">
    <span class="prev">&nbsp;</span>
	<span class="next">&nbsp;</span>


   <ul>
    {% for img in imgs %}
      {% if  img  %}

         <li>
			<img width="800" height="600" class="watermark" alt="找农家乐，就上崇明慢生活！" src="{{img.url }}" />

		</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>


    {% endif %}
<div id="word_content">

<!-- JiaThis Button BEGIN -->

<div class="jiathis_style_32x32">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a href="http://www.jiathis.com/share?uid=2060269" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>

<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2060269" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- UJian Button BEGIN -->
	<div class="ujian-hook"></div>
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js"></script>
<!-- UJian Button END -->

{% if njl %}
<p>

<H3>{{ njl.title }}</H3>

</p>
</div>

<div>
 <p>
    {% autoescape off %}
    {{njl.content}}
    {% endautoescape %}
  </p>
    <p>
        地址：{{njl.address}}
    </p>
    {% if  njl.busRoutes  %}
    <p>
        公交线路：{{njl.busRoutes}}
    </p>
     {% endif %}

     {% if  njl.carRoutes  %}
    <p>
        自驾线路：{{njl.carRoutes}}
    </p>
    {% endif %}
    <p>
        联系人：{{njl.contact}}
    </p>
     <p>
        联系电话：{{njl.phone}}
    </p>

{% else %}
<p>No news found.</p>
{% endif %}
</div>

 {% if  njl.njlShow  %}
     {% autoescape off %}
    {{njl.njlShow}}
     {% endautoescape %}
    {% endif %}


 {% include "nongjiale/_comments.html" %}


<div>
    <p>更多详情:</p>
    <img src="/static/images/qrcode_weixin.jpg" width="150" height="150">
</div>




</div>


<script type="text/javascript">
window.onload = function() {
  document.getElementById('nongjiale_list').className = 'current';


};
   </script>



<script type="text/javascript">
$(function() {
  $('.watermark').watermark({
    path: '/static/images/watermark.png'


  });
});
   </script>


</div>
{% endblock %}