{% extends "base.html" %}

{% block base_head %}
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<link rel='stylesheet' href='/static/xiangce/css/masterslider.css' type='text/css' media='all' />
<link rel='stylesheet' href='/static/xiangce/css/ms-showcase2.css' type='text/css' media='all' />
<link rel='stylesheet' href='/static/xiangce/css/masterslider.main.css' type='text/css' media='all' />
<script src="/static/xiangce/js/modernizr-2.6.2.min.js"></script>
<script type='text/javascript' src='/static/xiangce/js/jquery.js'></script>
<script type='text/javascript' src='/static/xiangce/js/masterslider.min.js'></script>
<script type='text/javascript' src='/static/xiangce/js/jquery.easing.min.js'></script>
<script>
var ms_grabbing_curosr='/static/xiangce/images/grabbing.png',ms_grab_curosr='/static/xiangce/images/grab.png';
window.$ = jQuery.noConflict();
</script>
{% endblock %}

{% block base_frame %}
<script type="text/javascript">
	$(document).ready(function(){
		var slider = new MasterSlider();
		slider.setup('masterslider' , {
			width:800,
			height:600,
			space:5,
			view:'basic'
		});
		slider.control('arrows');
		slider.control('scrollbar' , {dir:'h'});
		slider.control('thumblist' , {autohide:false ,dir:'v',arrows:false});
	});
</script>

<div class="main_body_detial">
<div>
{% if  njl.img1  %}
<div style="max-width:800px;max-height:600px;margin:50px auto;">
<div class="ms-showcase2-template ms-dir-v">

  <div class ="master-slider ms-skin-default" id="masterslider">

    {% for img in imgs %}
      {% if  img  %}
    <div class="ms-slide"><img src="/static/xiangce/masterslider/loading-2.gif" data-src="/media/{{img}}" alt="lorem ipsum dolor sit"/> <img class="ms-thumb" src="/media/{{img}}" alt="thumb" /></div>
      {% endif %}
      {% endfor %}

  </div>
  </div>

</div>
    {% endif %}
<div id="word_content">
    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
{% if njl %}
<p>

<H3>{{ njl.title }}</H3>

</p>
</div>

<div>
 <p>
    {% autoescape off %}
    {{njl.content}}
    {% endautoescape %}
  </p>
    <p>
        地址：{{njl.address}}
    </p>
    <p>
        公交线路：{{njl.busRoutes}}
    </p>
    <p>
        自驾线路：{{njl.carRoutes}}
    </p>

    <p>
        联系人：{{njl.contact}}
    </p>
     <p>
        联系电话：{{njl.phone}}
    </p>

{% else %}
<p>No news found.</p>
{% endif %}
</div>

<div>
    <p>更多详情:</p>
    <img src="/static/images/qrcode_weixin.jpg" width="150" height="150">
</div>


</div>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('nongjiale_list').className = 'current';
};
   </script>

{% endblock %}