{% extends "base.html" %}

{% block base_frame %}
{% load static %}
<div class="main_body">
<div class="list_item"  >
    {% load watermark %}
{% for njl in object_list %}

		<div class="extra_wrapper">
            <img onerror="this.src='/static/images/icon.jpg'" src="{{njl.logo.url|watermark:'The Watermark,position=43%x80%,opacity=40' }}" width="100" height="100">
			<div class="text1">
			<a href="/nongjiale_detial/{{njl.id}}" >	{{njl.title}}</a> </div>
		    {% autoescape off %}
			{{njl.summary }}
			{% endautoescape %}
<a href="/nongjiale_detial/{{njl.id}}" class="btn">详情</a>
<div class="clear "></div>
			</div>
		{% endfor %}
</div>
	<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>

<script type="text/javascript">
window.onload = function() {
  document.getElementById('nongjiale_list').className = 'current';
};
   </script>

{% endblock %}